Package: mtkhnat_util
Version: 1-r0-
Depends: libc
Source: feeds/mtk_openwrt_feed/feed/mtkhnat_util
SourceName: mtkhnat_util
Section: net
SourceDateEpoch: 1665724639
Architecture: aarch64_cortex-a53
Installed-Size: 2486
Description:  mtk hnat util to init hnat module
