Package: luci-i18n-opkg-en
Version: git-22.240.58472-bdaec14
Depends: libc, luci-app-opkg
Source: feeds/luci/applications/luci-app-opkg
SourceName: luci-i18n-opkg-en
Section: luci
SourceDateEpoch: 1661703272
Architecture: all
Installed-Size: 355
Description:  Translation for luci-app-opkg - English
