Package: ip-bridge
Version: 5.11.0-3
Depends: libc, libnl-tiny1
Source: package/network/utils/iproute2
SourceName: ip-bridge
License: GPL-2.0
Section: net
SourceDateEpoch: 1686910314
CPE-ID: cpe:/a:iproute2_project:iproute2
Maintainer: Russell Senior <russell@personaltelco.net>
Architecture: aarch64_cortex-a53
Installed-Size: 29733
Description:  Bridge configuration utility from iproute2
