Package: kmod-fs-ksmbd
Version: 5.4.213+3.4.5-1
Depends: kernel (=5.4.213-1-1d5b056244d1e1c5d30f87d5efd42168), kmod-nls-base, kmod-nls-utf8, kmod-crypto-md4, kmod-crypto-md5, kmod-crypto-hmac, kmod-crypto-ecb, kmod-crypto-des, kmod-crypto-sha256, kmod-crypto-cmac, kmod-crypto-sha512, kmod-crypto-aead, kmod-crypto-ccm, kmod-crypto-gcm, kmod-fs-nfsd, kmod-nf-nathelper-extra
Source: feeds/packages/kernel/ksmbd
SourceName: kmod-fs-ksmbd
License: GPL-2.0-or-later
LicenseFiles: COPYING
Section: kernel
SourceDateEpoch: 1659430866
Maintainer: Andy Walsh <andy.walsh44+github@gmail.com>
Architecture: aarch64_cortex-a53
Installed-Size: 159487
Description:  Ksmbd is an In-kernel SMBv(1)2/3 fileserver.
 It's an implementation of the SMB protocol in kernel space for sharing files and IPC services over network.
