Package: luci-compat
Version: git-22.046.85744-f08a0f6
Depends: libc, luci-base
Source: feeds/luci/modules/luci-compat
SourceName: luci-compat
Section: luci
SourceDateEpoch: 1644968944
Maintainer: OpenWrt LuCI community
Architecture: all
Installed-Size: 45414
Description:  LuCI compatibility libraries
