Package: luci-i18n-ksmbd-en
Version: git-22.240.58472-bdaec14
Depends: libc, luci-app-ksmbd
Source: feeds/luci/applications/luci-app-ksmbd
SourceName: luci-i18n-ksmbd-en
Section: luci
SourceDateEpoch: 1661703272
Architecture: all
Installed-Size: 304
Description:  Translation for luci-app-ksmbd - English
