Package: luci-i18n-opkg-zh-cn
Version: git-22.240.58472-bdaec14
Depends: libc, luci-app-opkg
Source: feeds/luci/applications/luci-app-opkg
SourceName: luci-i18n-opkg-zh-cn
Section: luci
SourceDateEpoch: 1661703272
Architecture: all
Installed-Size: 2057
Description:  Translation for luci-app-opkg - 简体中文 (Chinese Simplified)
