Package: libnl-tiny1
Version: 2020-08-05-c291088f-2
Depends: libc
Provides: libnl-tiny
Source: package/libs/libnl-tiny
SourceName: libnl-tiny
License: LGPL-2.1
Section: libs
SourceDateEpoch: 1686910314
ABIVersion: 1
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: aarch64_cortex-a53
Installed-Size: 16966
Description:  This package contains a stripped down version of libnl
