Package: ksmbd-server
Version: 3.4.5-3
Depends: libc, kmod-fs-ksmbd, libnl-core200, libnl-genl200
Source: feeds/packages/net/ksmbd-tools
SourceName: ksmbd-server
License: GPL-2.0-or-later
LicenseFiles: COPYING
Section: net
SourceDateEpoch: 1662818751
Maintainer: Andy Walsh <andy.walsh44+github@gmail.com>
Architecture: aarch64_cortex-a53
Installed-Size: 63223
Description:  installs: ksmbd.mountd
 
 This provides the basic fileserver service and is the minimum needed to serve 'guest only' file shares or use a existing user database file ksmbdpwd.db.
