Package: switch
Version: 1
Depends: libc, libnl-tiny1
Source: feeds/mtk_openwrt_feed/feed/switch
SourceName: switch
Section: MTK Properties
SourceDateEpoch: 1663830570
Architecture: aarch64_cortex-a53
Installed-Size: 29733
Description:  An program to config switch.
