Package: tc-mod-iptables
Version: 5.11.0-3
Depends: libc, libxtables12
Source: package/network/utils/iproute2
SourceName: tc-mod-iptables
License: GPL-2.0
Section: net
SourceDateEpoch: 1686910314
CPE-ID: cpe:/a:iproute2_project:iproute2
Maintainer: Russell Senior <russell@personaltelco.net>
Architecture: aarch64_cortex-a53
Installed-Size: 3735
Description:  Traffic control module - iptables action
