Package: kmod-gpio-button-hotplug
Version: 5.4.213-3
Depends: kernel (=5.4.213-1-1d5b056244d1e1c5d30f87d5efd42168)
Source: package/kernel/gpio-button-hotplug
SourceName: kmod-gpio-button-hotplug
License: GPL-2.0
Section: kernel
SourceDateEpoch: 1686910314
Architecture: aarch64_cortex-a53
Installed-Size: 6215
Description:  This is a replacement for the following in-kernel drivers:
 1) gpio_keys (KEYBOARD_GPIO)
 2) gpio_keys_polled (KEYBOARD_GPIO_POLLED)
 
 Instead of generating input events (like in-kernel drivers do) it generates
 uevent-s and broadcasts them. This allows disabling input subsystem which is
 an overkill for OpenWrt simple needs.
