Package: kmod-conninfra
Version: 5.4.213-1
Depends: kernel (=5.4.213-1-1d5b056244d1e1c5d30f87d5efd42168)
Source: package/mtk/drivers/connectivity/conninfra
SourceName: kmod-conninfra
Section: kernel
SourceDateEpoch: 1686910314
Maintainer: Kun-Ze Syue<kun-ze.syue@mediatek.com>
Architecture: aarch64_cortex-a53
Installed-Size: 46273
Description:  Support for connectivity conninfra driver.
