Package: libiwinfo20210430
Version: 2022-04-26-dc6847eb-1
Depends: libc, libnl-tiny1, libuci20130104, libubus20210630, libiwinfo-data
Provides: libiwinfo
Source: package/network/utils/iwinfo
SourceName: libiwinfo
License: GPL-2.0
Section: libs
SourceDateEpoch: 1686910314
ABIVersion: 20210430
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: aarch64_cortex-a53
Installed-Size: 31111
Description:  Wireless information library with simplified API for nl80211
 and wext driver interfaces.
