Package: mtk-base-files
Version: 1-25.0228_093711
Depends: libc, base-files, lua
Source: package/mtk/applications/mtk-base-files
SourceName: mtk-base-files
License: GPL-2.0
Section: MTK Properties
SourceDateEpoch: 1686910314
Architecture: aarch64_cortex-a53
Installed-Size: 80971
Description:  This package contains a base filesystem and system scripts for MTK OpenWrt.
