Package: librt
Version: 1.1.24-3
Depends: libpthread
Source: package/libs/toolchain
SourceName: librt
License: GPL-3.0-with-GCC-exception
Section: libs
SourceDateEpoch: 1686910314
Status: unknown hold not-installed
Essential: yes
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: aarch64_cortex-a53
Installed-Size: 126
Description:  POSIX.1b RealTime extension library
