Package: tc-tiny
Version: 5.11.0-3
Depends: libc, kmod-sched-core, libxtables12, tc-mod-iptables
Provides: tc
Alternatives: 200:/sbin/tc:/usr/libexec/tc-tiny
Source: package/network/utils/iproute2
SourceName: tc-tiny
License: GPL-2.0
Section: net
SourceDateEpoch: 1686910314
CPE-ID: cpe:/a:iproute2_project:iproute2
Maintainer: Russell Senior <russell@personaltelco.net>
Architecture: aarch64_cortex-a53
Installed-Size: 169052
Description:  Traffic control utility (minimal)
