Package: luci-i18n-ksmbd-zh-cn
Version: git-22.240.58472-bdaec14
Depends: libc, luci-app-ksmbd
Source: feeds/luci/applications/luci-app-ksmbd
SourceName: luci-i18n-ksmbd-zh-cn
Section: luci
SourceDateEpoch: 1661703272
Architecture: all
Installed-Size: 1242
Description:  Translation for luci-app-ksmbd - 简体中文 (Chinese Simplified)
