Package: ipset
Version: 7.6-1
Depends: libc, kmod-ipt-ipset, libmnl0, libipset13
Source: package/network/utils/ipset
SourceName: ipset
License: GPL-2.0
Section: net
SourceDateEpoch: 1686910314
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: aarch64_cortex-a53
Installed-Size: 1336
Description:  IPset administration utility
