Package: rpcd-mod-luci
Version: 20210614
Depends: libc, rpcd, libubox20210516, libubus20210630, libnl-tiny1
Source: feeds/luci/libs/rpcd-mod-luci
SourceName: rpcd-mod-luci
License: Apache-2.0
Section: libs
SourceDateEpoch: 1635270064
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: aarch64_cortex-a53
Installed-Size: 14697
Description:  Provides LuCI backend ubus RPC operations.
