Package: mapd
Version: 1
Depends: libc, wapp, 1905daemon, libmapd
Source: package/mtk/applications/mapd
SourceName: mapd
Section: MTK Properties
SourceDateEpoch: 1686910314
Architecture: aarch64_cortex-a53
Installed-Size: 843222
Description:  Multi AP daemon from mediatek.
 yogender.pathak@mediatek.com
