Package: luci-app-mwan3
Version: git-21.126.37401-0ddb72d
Depends: libc, luci-compat, mwan3, libuci-lua, luci-mod-admin-full, luci-lib-nixio
Source: feeds/luci/applications/luci-app-mwan3
SourceName: luci-app-mwan3
License: GPLv2
Section: luci
SourceDateEpoch: 1661703272
Maintainer: OpenWrt LuCI community
Architecture: all
Installed-Size: 12078
Description:  LuCI support for the MWAN3 multiwan hotplug script
