Package: libiwinfo-lua
Version: 2022-04-26-dc6847eb-1
Depends: libc, libiwinfo20210430, liblua5.1.5
Source: package/network/utils/iwinfo
SourceName: libiwinfo-lua
License: GPL-2.0
Section: lang
SourceDateEpoch: 1686910314
Maintainer: Jo-Philipp Wich <jo@mein.io>
Architecture: aarch64_cortex-a53
Installed-Size: 7622
Description:  This is the Lua binding for the iwinfo library. It provides access to all enabled
 backends.
