Package: luci-i18n-wireguard-en
Version: git-22.163.60897-a037a14
Depends: libc, luci-app-wireguard
Source: feeds/luci/applications/luci-app-wireguard
SourceName: luci-i18n-wireguard-en
Section: luci
SourceDateEpoch: 1655052897
Architecture: all
Installed-Size: 360
Description:  Translation for luci-app-wireguard - English
