Package: datconf-lua
Version: 1
Depends: libc, datconf, liblua5.1.5
Source: package/mtk/applications/datconf
SourceName: datconf-lua
Section: MTK Properties
SourceDateEpoch: 1686910314
Maintainer: Weijie Gao <weijie.gao@mediatek.com>
Architecture: aarch64_cortex-a53
Installed-Size: 5949
Description:  Lua plugin for datconf
