Package: luci-i18n-openvpn-zh-cn
Version: git-22.240.58472-bdaec14
Depends: libc, luci-app-openvpn
Source: feeds/luci/applications/luci-app-openvpn
SourceName: luci-i18n-openvpn-zh-cn
License: Apache-2.0
Section: luci
SourceDateEpoch: 1661703272
Architecture: all
Installed-Size: 5193
Description:  Translation for luci-app-openvpn - 简体中文 (Chinese Simplified)
