Package: luci-i18n-upnp-en
Version: git-22.240.58472-bdaec14
Depends: libc, luci-app-upnp
Source: feeds/luci/applications/luci-app-upnp
SourceName: luci-i18n-upnp-en
Section: luci
SourceDateEpoch: 1661703272
Architecture: all
Installed-Size: 356
Description:  Translation for luci-app-upnp - English
