Package: wificonf
Version: 1
Depends: libc
Source: package/mtk/applications/wificonf
SourceName: wificonf
Section: MTK Properties
SourceDateEpoch: 1686910314
Maintainer: Hua Shao <nossiac@163.com>
Architecture: aarch64_cortex-a53
Installed-Size: 7528
Description:  Read/Write MTK WiFi profiles
