Package: luci-i18n-upnp-zh-cn
Version: git-22.240.58472-bdaec14
Depends: libc, luci-app-upnp
Source: feeds/luci/applications/luci-app-upnp
SourceName: luci-i18n-upnp-zh-cn
Section: luci
SourceDateEpoch: 1661703272
Architecture: all
Installed-Size: 1554
Description:  Translation for luci-app-upnp - 简体中文 (Chinese Simplified)
