Package: sigma_daemon
Version: 1
Depends: libc, libpthread, librt
Source: package/mtk/applications/sigma_daemon
SourceName: sigma_daemon
Section: MTK Properties
SourceDateEpoch: 1686910314
Architecture: aarch64_cortex-a53
Installed-Size: 185379
Description:  SIGMA_DAEMON
