Package: datconf
Version: 1
Depends: libc, kvcedit
Source: package/mtk/applications/datconf
SourceName: datconf
Section: MTK Properties
SourceDateEpoch: 1686910314
Maintainer: Weijie Gao <weijie.gao@mediatek.com>
Architecture: aarch64_cortex-a53
Installed-Size: 5717
Description:  Utility for editing dat files used by MediaTek Wi-Fi drivers
