[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteNoUser
Exec=/home/voyager717/Downloads/SDK_Sourcecode/build_openwrt_new/AX3000-MT7981-Z8102AX/build_dir/target-aarch64_cortex-a53_musl/dbus-1.13.12/test/test-service
