Package: ppp
Version: 2.4.8.git-2020-10-03-3
Depends: libc, kmod-ppp
Source: package/network/services/ppp
SourceName: ppp
License: BSD-4-Clause
Section: net
SourceDateEpoch: 1686910314
CPE-ID: cpe:/a:samba:ppp
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: aarch64_cortex-a53
Installed-Size: 136398
Description:  This package contains the PPP (Point-to-Point Protocol) daemon.
