Package: luci-lib-jsonc
Version: git-22.097.61937-bc85ba5
Depends: libc, liblua5.1.5, libjson-c5
Source: feeds/luci/libs/luci-lib-jsonc
SourceName: luci-lib-jsonc
Section: luci
SourceDateEpoch: 1649351537
Maintainer: OpenWrt LuCI community
Architecture: aarch64_cortex-a53
Installed-Size: 4404
Description:  Lua binding for JSON-C
