Package: luci-app-openvpn
Version: git-22.025.78298-e927a11
Depends: libc, luci-compat
Source: feeds/luci/applications/luci-app-openvpn
SourceName: luci-app-openvpn
License: Apache-2.0
Section: luci
SourceDateEpoch: 1661703272
Maintainer: OpenWrt LuCI community
Architecture: all
Installed-Size: 11873
Description:  LuCI Support for OpenVPN
