Package: luci-mod-network
Version: git-22.244.54918-77c916e
Depends: libc, luci-base, libiwinfo-lua, rpcd-mod-iwinfo
Source: feeds/luci/modules/luci-mod-network
SourceName: luci-mod-network
License: Apache-2.0
Section: luci
SourceDateEpoch: 1662045318
Maintainer: OpenWrt LuCI community
Architecture: all
Installed-Size: 46268
Description:  LuCI Network Administration
