Package: ated_ext
Version: 2
Depends: libc, libblkid1
Source: package/mtk/applications/ated_ext
SourceName: ated_ext
Section: MTK Properties
SourceDateEpoch: 1686910314
Architecture: aarch64_cortex-a53
Installed-Size: 15320
Description:  ated_ext Daemon
