Package: luci-app-qos
Version: git-20.108.38431-8f34e10
Depends: libc, luci-compat, qos-scripts
Source: feeds/luci/applications/luci-app-qos
SourceName: luci-app-qos
License: Apache-2.0
Section: luci
SourceDateEpoch: 1661703272
Maintainer: OpenWrt LuCI community
Architecture: all
Installed-Size: 1539
Description:  Quality of Service configuration module
