Package: luci-base
Version: git-22.245.77575-63bfee6
Depends: libc, lua, luci-lib-nixio, luci-lib-ip, rpcd, libubus-lua, luci-lib-jsonc, liblucihttp-lua, luci-lib-base, rpcd-mod-file, rpcd-mod-luci, cgi-io
Source: feeds/luci/modules/luci-base
SourceName: luci-base
License: MIT
Section: luci
SourceDateEpoch: 1662154375
Maintainer: OpenWrt LuCI community
Architecture: aarch64_cortex-a53
Installed-Size: 158486
Description:  LuCI core libraries
