Package: regs
Version: 1
Depends: libc
Source: feeds/mtk_openwrt_feed/feed/regs
SourceName: regs
Section: MTK Properties
SourceDateEpoch: 1663830570
Architecture: aarch64_cortex-a53
Installed-Size: 2569
Description:  Simple program to read/write from/to a pci device from userspace.
