Package: libstdcpp6
Version: 8.4.0-3
Provides: libstdcpp
Source: package/libs/toolchain
SourceName: libstdcpp
License: GPL-3.0-with-GCC-exception
Section: libs
SourceDateEpoch: 1686910314
ABIVersion: 6
Status: unknown hold not-installed
Essential: yes
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: aarch64_cortex-a53
Installed-Size: 296395
Description:  GNU Standard C++ Library v3
