Package: iptables-mod-ipsec
Version: 1.8.7-1
Depends: libc, iptables, kmod-ipt-ipsec
Source: package/network/utils/iptables
SourceName: iptables-mod-ipsec
License: GPL-2.0
Section: net
SourceDateEpoch: 1686910314
CPE-ID: cpe:/a:netfilter_core_team:iptables
Architecture: aarch64_cortex-a53
Installed-Size: 6182
Description:  iptables extensions for matching ipsec traffic.
 
 Matches:
 - ah
 - esp
 - policy
 
