Package: chat
Version: 2.4.8.git-2020-10-03-3
Depends: libc
Source: package/network/services/ppp
SourceName: chat
License: BSD-4-Clause
Section: net
SourceDateEpoch: 1686910314
CPE-ID: cpe:/a:samba:ppp
Maintainer: Felix Fietkau <nbd@nbd.name>
Architecture: aarch64_cortex-a53
Installed-Size: 9625
Description:  This package contains an utility to establish conversation with other PPP servers
 (via a modem).
